@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#fullpage {
  min-height: 100vh;
  padding: 1em;
}

/*------------------ Navigatie ----------------- */
.menu {
  background-color: $donkergroen;
  justify-content: flex-end;
  font-size: 1.8em;
  padding-right: 10px;
  color: $wit;
  z-index: 2;
  .menuitem {
    margin: 10px 0;
    padding: 12px 14px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
    line-height: 1.5;
    &:hover {
      border-bottom: 2px solid $wit;
    }
  }
}
.stickynav {
  position: sticky;
  top: 0;
  z-index: 2;
}
.mobilenavitem {
  padding: 6px 7px;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
  color: $blauw;
  &:hover {
    border-bottom: 2px solid $blauw;
  }
}
/*------------------ pokedex ----------------- */

/*------------------ cocktail ----------------- */

/*------------------ aoe ----------------- */

/* ------------------- footer ------------------*/
.footer {
  font-size: 1.8em;
  padding: 22px 0;
  justify-content: center;
  background-color: $donkergroen;
  color: $wit;
}
