@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}

#fullpage {
  min-height: 100vh;
}

.button {
  font-size: 1em;
  margin: 1.7em 0em;
}

/*------------------ Navigatie ----------------- */
.menu {
  background-color: $donkergroen;
  justify-content: flex-end;
  font-size: 1.125em;
  padding-right: 10px;
  color: $wit;
  z-index: 2;
  .menuitem {
    margin: 10px 0;
    padding: 12px 14px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
    line-height: 1.5;
    &:hover {
      border-bottom: 2px solid $wit;
    }
  }
}
.stickynav {
  position: sticky;
  top: 0;
  z-index: 2;
}
.mobilenavitem {
  padding: 24px 7px 6px 7px;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
  font-size: 17px;
  &:hover {
    border-bottom: 2px solid $blauw;
  }
  &:first-of-type {
    padding: 6px 7px;
  }
}
/*------------------ Agenda ----------------- */

.divider {
  @include divider;
}

.agendapunt {
  margin: 10px 0;
  width: 100% !important;
  max-width: 750px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid $lichtgroen;
  background: #fdfdfd !important;
  padding: 70px !important;
  &:hover {
    background: #fbfbfb !important;
  }
}
.agendapuntinfo {
  padding: 20px;
  margin: 2px auto;
  max-width: 500px;
  text-align: center;
}
/*------------------ Leden ----------------- */
.color {
  color: $lichtgroen;
  display: inline;
  border-left: 3px solid #14a614;
  padding-left: 20px;
}
.liditem {
  border: none;
  border-bottom: 1px solid $wit !important;
  .liditembutton {
    color: $donkergroen;
    color: $wit;
    &:hover {
      background: $donkergroen;
    }
  }
  &:hover {
    opacity: 0.8;
  }
}

/*------------------ Clubs ----------------- */
.clubs {
  &:hover .clubcard {
    filter: blur(3px);
    opacity: 0.5;
    transform: scale(0.85);
    box-shadow: none;
    border: 1px solid #fafafa;
    border-radius: 2px;
  }
  .clubcard,
  .clubcardnohover {
    padding: 2em;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #f1f1f1;
    border: 1px solid transparent;
    box-shadow: 0 2px 3px 0px rgba(0, 0, 0, 0.25);
    transition: 0.4 all;
    &:hover {
      transform: scale(1);
      filter: blur(0px);
      opacity: 1;
      box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
    }
  }
}
.streepje {
  content: "";
  background-color: $lichtgroen;
  width: 50px;
  height: 5px;
  margin: 20px auto;
  border-radius: 2px;
}

/* ------------------- footer ------------------*/
.footer {
  padding: 22px 0;
  text-align: center;
  background-color: $donkergroen;
  color: $wit;
}
