@use "./base/variables" as *;
@use "./base/fonts";
@use "./base/mixins" as *;

* {
  box-sizing: border-box;
}

html {
  font-size: 100%;
}

a {
  text-decoration: none;
  cursor: pointer;
}
.button {
  font-size: 1em;
  margin: 1.7em 0em;
}

/*------------------ Navigatie ----------------- */
.menu {
  background-color: $donkergroen;
  justify-content: flex-end;
  font-size: 1.125em;
  padding-right: 10px;
  color: $wit;
  z-index: 2;
  .menuitem {
    margin: 10px 0;
    padding: 12px 14px;
    border-bottom: 2px solid transparent;
    transition: all 0.4s;
    line-height: 1.5;
    &:hover {
      border-bottom: 2px solid $wit;
    }
  }
}
.stickynav {
  position: sticky;
  top: 0;
  z-index: 2;
}
.mobilenavitem {
  padding: 24px 7px 6px 7px;
  border-bottom: 2px solid transparent;
  transition: all 0.4s;
  font-size: 17px;
  &:hover {
    border-bottom: 2px solid $blauw;
  }
  &:first-of-type {
    padding: 6px 7px;
  }
}
/*------------------ Agenda ----------------- */

.divider {
  @include divider;
}

.agendapunt {
  margin: 10px 0;
  width: 100% !important;
  max-width: 750px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid $lichtgroen;
  background: #fdfdfd !important;
  padding: 70px !important;
  &:hover {
    background: #fbfbfb !important;
  }
}
.agendapuntinfo {
  padding: 20px;
  margin: 2px auto;
  max-width: 500px;
  text-align: center;
}
/*------------------ Leden ----------------- */
.color {
  color: $lichtgroen;
  display: inline;
}
.liditem {
  border: none;
  border-bottom: 1px solid $wit !important;
  .liditembutton {
    color: $donkergroen;
    color: $wit;
    &:hover {
      background: $donkergroen;
    }
  }
  &:hover {
    opacity: 0.8;
  }
}

/*------------------ aoe ----------------- */

/* ------------------- footer ------------------*/
.footer {
  padding: 22px 0;
  text-align: center;
  background-color: $donkergroen;
  color: $wit;
}
